# Tsc source folder
src/
tsconfig.json

# Unwanted node modules
node_modules/

# Docs
docs/
doc-gen.js

# Testings
test/
types/

# Github only files
.github/
.gitignore
LICENSE
CHANGELOG.md
CONTRIBUTING.md

# Editor based files
.vscode/
run.sh