.markdown-section td{
    border: none!important;
    color: black;
    padding: 8px;
}

.markdown-section tr{
    border: none!important;
}

.markdown-section tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.markdown-section tr:nth-child(even) {
    background-color: #f4f4f4!important;
}

.markdown-section table{
    border-color: 1px solid #e2e2e2!important;
}

.markdown-section th{
    padding: 25px!important;
    font-family: Alata!important;
    border: none!important;
    background-color: #1DB954;
    color: white;
}

.markdown-section td{
    padding: 25px!important;
}

.markdown-section blockquote{
    margin: 0!important;
}

.markdown-section table a{
    text-decoration: none!important;
}

blockquote{
    border-left: 2px solid #a8b4ae!important;
    transition: 0.3s;
}

blockquote:hover{
    border-left: 4px solid #1DB954!important;
}

.markdown-section a{
    --theme-color: #1DB954;
}

.sidebar .sidebar-nav a{
    line-height: 15px;
}

.sidebar-nav-head{
    font-weight: bolder;
    font-family: Alata;
    margin-top: 10px;
}

.class-index{
    text-decoration: none;
    color: black;
    cursor: pointer;
}